<div class="container-fluid container-wrap row">
{{#foreach posts visibility="all"}}
    <div class="row post-wrap {{#has index="nth:2"}}reverse-post{{/has}} post-access-{{visibility}}">
            <div
              class="col-12 col-md-4 col-lg-4 tab-image"
            >
              <img
                src="{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "images/fallback-image.jpg"}}{{/if}}"
                class="top-image"
                alt="{{title}}"
                title="{{title}}"
                loading="lazy"
              />
            </div>


            <div
              class="row col-12 col-md-8 col-lg-8 vertical-align-item homepage-post-item"
            >
            <h2 class="highlight">{{title}}</h2>{{#has visibility="paid"}}<span class="premium">Premium</span>{{/has}}{{#has visibility="members"}}<span class="premium">Members-Only</span>{{/has}} 
              <p class="subtext-content">
                {{excerpt}}
              </p>
                {{#if access}}
                <div class="card-actions-top source-item w-100">
                  <a
                    href="{{url}}"
                    title="{{title}}"
                    class="hvr-grow button-url"
                    ><i class="fas fa-info-circle"></i>{{t "Read More"}}</a
                  >
                  <div>
                {{else}}
                   <div class="card-actions-top source-item w-100">
                  <a
                    href="#/portal/signup"
                    title="{{title}}"
                    class="hvr-grow button-url"
                    ><i class="fas fa-info-circle"></i>{{t "Subscribe"}}</a
                  >
                  <div>
                {{/if}}
                    {{#foreach authors}}
                        <a href="{{url}}" title="{{name}}"><img src="{{#if profile_image}}{{img_url profile_image}}{{else}}{{asset "images/fallback-user.jpg"}}{{/if}}" class="homepage-avatar" alt="{{t "Written by"}} {{name}}" title="{{t "Written by"}} {{name}}"></a> 
                    {{/foreach}}
                    <small class="text-muted badge">
                        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
                  </small>
                  </div>
              </div>
            </div> 
    </div>
{{/foreach}}
</div>