   {{#get "posts" limit="1" filter="featured:true" order="published_at desc" as |featured| }}
    {{#foreach featured}}
 
        <div class="container-fluid col-12 main-top-content">
            <div class="container-wrap row vertical-align-item">
              <div class="col-12 col-lg-7">
                <h1 class="top-title">{{title}}</h1>
                <p class="subtext">
                  <span class="premium">Premium</span> {{excerpt}}
                </p>
                <div class="source-item">
                  <a
                    href="{{url}}"
                    title="{{title}}"
                    class="button-url hvr-grow"
                    ><i class="fas fa-info-circle"></i>{{t "Read More"}}</a
                  >
                </div>
              </div>

              <div class="col-12 col-lg-5">
                <img
                  src="{{#if feature_image}}{{img_url feature_image}}{{else}}{{asset "images/fallback-image.jpg"}}{{/if}}"
                  class="top-image"
                  alt="{{title}}"
                  title="{{title}}"
                  loading="lazy"
                />
              </div>
            </div>
        </div>
  {{/foreach}}
  {{/get}}